<ion-card class="wcard ion-activatable" mode="md" (click)="navigateToProfile()">
  <ion-ripple-effect></ion-ripple-effect>

  <div class="wcard-photo" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img *ngIf="displayUrl" [src]="displayUrl" [alt]="worker.name" class="wcard-img" loading="lazy" />

    <div *ngIf="!displayUrl" class="wcard-ph">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>

    <ion-badge *ngIf="!worker.available" class="online-pill" color="medium">
      Absente
    </ion-badge>

    <div class="hover-tags" [class.visible]="isHovering">
      <ion-chip *ngFor="let s of worker.services" class="service-tag">
        <ion-label>{{ s }}</ion-label>
      </ion-chip>
    </div>
  </div>

  <ion-card-header>
    <ion-card-title>{{ worker.name }}</ion-card-title>
    <ion-card-subtitle>{{ worker.location }}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
