<ion-card class="wcard ion-activatable" mode="md" (click)="navigateToProfile()">
  <ion-ripple-effect></ion-ripple-effect>

  <div class="wcard-photo" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <img *ngIf="displayUrl" [src]="displayUrl" [alt]="worker.username" class="wcard-img" loading="lazy" />

    <div *ngIf="!displayUrl" class="wcard-ph">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>

    <ion-badge *ngIf="!worker.available" class="online-pill" color="medium">
      Absente
    </ion-badge>

    <!-- Nom et localisation par-dessus l'image en bas au milieu (sans encadrement) -->
    <div class="wcard-overlay-info">
      <h3 class="wcard-overlay-title">
        {{ worker.username }}
        <ion-icon *ngIf="worker.isCertified"
                  name="shield-checkmark-outline"
                  color="success"
                  class="certified-badge">
        </ion-icon>
      </h3>
      <p class="wcard-overlay-subtitle">{{ worker.geographicZone?.name }}</p>
    </div>
  </div>

  <!-- Description courte ou smileys cœur par défaut -->
  <ion-card-content class="wcard-description">
<!--    {{ worker.shortDescription || 'xx' }}-->
    {{ worker.shortDescription || '❤️❤️❤️' }}
  </ion-card-content>
</ion-card>
