<div [class.filter-banner-mode]="isFilterBanner" [class.form-profile-mode]="!isFilterBanner">

  <!-- SÉLECTION DE LA RÉGION -->
  <div class="zone-col">
    <ion-item lines="none" [class.filter-input-item]="isFilterBanner" [class.venus-input]="!isFilterBanner">
      <ion-icon *ngIf="showIcons" name="location-outline" slot="start" class="filter-icon"></ion-icon>
      <ion-label *ngIf="!isFilterBanner" position="stacked">Région</ion-label>
      <ion-select aria-label="Région" interface="popover"
                  [(ngModel)]="parentZoneId"
                  (ionChange)="onParentChange()"
                  [placeholder]="parentPlaceholder">
        <ion-select-option *ngIf="allowAllOption" [value]="null">{{ allParentsLabel }}</ion-select-option>
        <ion-select-option *ngFor="let zone of zones" [value]="zone.id">
          {{ zone.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- SÉLECTION DE LA VILLE (DÉSACTIVÉE TANT QU'AUCUN PARENT N'EST CHOISI) -->
  <div class="zone-col" [class.disabled-col]="!parentZoneId">
    <ion-item lines="none" [class.filter-input-item]="isFilterBanner" [class.venus-input]="!isFilterBanner" [disabled]="!parentZoneId">
      <ion-icon *ngIf="showIcons" name="business-outline" slot="start" class="filter-icon"></ion-icon>
      <ion-label *ngIf="!isFilterBanner" position="stacked">Localisation précise</ion-label>
      <ion-select aria-label="Localisation" interface="popover"
                  [(ngModel)]="childZoneId"
                  (ionChange)="onChildChange()"
                  [placeholder]="childPlaceholder">
        <ion-select-option *ngIf="allowAllOption" [value]="null">{{ allChildrenLabel }}</ion-select-option>
        <ion-select-option *ngFor="let subZone of availableChildZones" [value]="subZone.id">
          {{ subZone.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>

</div>
