<app-header></app-header>

<ion-content class="main-content">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <section *ngIf="availableWorkers.length > 0">

      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2"
                 *ngFor="let w of availableWorkers; let i = index">
          <app-worker-card [worker]="w"></app-worker-card>
        </ion-col>
      </ion-row>
    </section>

    <section *ngIf="unavailableWorkers.length > 0" class="ion-margin-top">

      <ion-row class="faded">
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2"
                 *ngFor="let w of unavailableWorkers">
          <app-worker-card [worker]="w"></app-worker-card>
        </ion-col>
      </ion-row>
    </section>
  </ion-grid>

  <!-- Infinite scroll -->
  <ion-infinite-scroll threshold="300px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Chargement...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
