.age-range-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.range-label-container {
  margin-bottom: 4px;
}
.age-label {
  font-size: 0.9rem;
  color: var(--ion-color-dark);
  font-weight: 500;
}
ion-range {
  padding-top: 0;
  padding-bottom: 0;
}
